{% extends 'blog/base.html' %}

{% block content %}


<div id="top">
    <img src="https://res.cloudinary.com/dvufpb4vx/image/upload/v1631024377/%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E3%82%B5%E3%82%A4%E3%83%88/_DSC8972_wrcsbt.jpg"/>
    <p>BLOG</p>
</div>

<div class="blog-body">
    <div class="post-new-content">
        <h2>新規投稿</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">投稿</button>
        </form>
    </div>
    <a href="{% url 'blog' %}" class="back-btn">←戻る</a>
</div>

{% endblock %}